.contacto {
    background-color: var(--color-primario);
    color: var(--color-texto-invertido);
    font-size: 18px;
    border-radius: 14px;
    padding: 25px;
    display: grid;
    gap: 25px;
}

.contacto p,
.contacto h2,
.contacto ul {
    margin: 0;
    padding: 0;
}

.contacto-titulo {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.contacto-detalle,
.contacto-form {
    display: grid;
    gap: 20px;
}

.contacto-detalle-grupo,
.contacto-form-grupo {
    display: grid;
    gap: 3px;
}

.contacto-lebel {
    text-transform: uppercase;
    font-weight: 500;
}

.contacto-form input,
.contacto-form textarea {
    border-radius: 7px;
    border: none;
    height: 30px;
    padding: 5px 10px;
}

.contacto-form input:focus,
.contacto-form textarea:focus {
    outline: 2px solid var(--color-secundario);
    box-shadow: 0 0 0 2px rgba(0, 128, 179, 0.2);
}

.contacto-form textarea {
    height: auto;
    resize: vertical;
}

.contacto-form-submit {
    width: 100%;
    height: 50px;

    background-color: var(--color-secundario);
    border-radius: 7px;
    color: var(--color-texto-invertido);
    border: 1px solid var(--color-secundario);

    cursor: pointer;
}

.contacto-form-submit:hover {
    box-shadow: 0 0 14px var(--color-secundario);
    filter: brightness(1.05);
}

.social-lista {
    list-style: none;

    display: flex;
    gap: 25px;
    justify-content: center;
}

.social-lista img {
    height: 25px;
}

.social-lista img:hover {

    filter: drop-shadow(0 0 8px var(--color-secundario));
}


@media (min-width: 950px) {
    .contacto {
        font-size: 20px;
        padding: 70px;

        max-width: 1200px;
        margin: 0 auto;    
    }
    
    .contacto-titulo {
        font-size: 35px;
        text-align: left;
    }
    
    .social-lista {
        justify-content: flex-start;
    }
    
    .social-lista img {
        height: 35px;
    }
   
    .contacto-titulo {
        grid-area: titulo;
    }

    .contacto-detalle {
        grid-area: detalle;
    }

    .contacto-form {
        grid-area: form;
    }

    .social {
        grid-area: social;
    }

    .contacto {
        display: grid;
        grid:
        "titulo form" auto
        "detalle form" 1fr
        "social form" auto/
        1fr     1fr;
        align-items: start;
    }
}