.educacion {
    max-width: 1200px;
    margin: 0 auto;

}

.flex-educacion {
    padding: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.educacion-titulo {
    font-size:30px;
    color: var(--color-primario);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  margin: 0 0 20px 0;
}

.educacion-fecha {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-secundario);
  }

  .educacion-descripcion {
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
    line-height: 1.4;
  }

  .caja {
    box-shadow: 0 4px 10px rgba(56, 38, 38, 0.25);
    border-radius: 20px;
    padding: 16px 20px;
    margin: 10px auto;
    background-color: white;

  }

  @media (min-width: 950px) {
    .flex-educacion {
        padding: 0 auto;
        display: flex;
        flex-wrap: nowrap;
    }
    
    .educacion-titulo {
        font-size:50px;
      margin-bottom: 30px;
    }
    
    .educacion-fecha {
        font-size: 25px;
      }
    
      .educacion-descripcion {
        font-weight: 700;
        font-size: 18px;
        margin: 8px 0 0;
      }
    
      .caja {
        box-shadow: 0 4px 10px rgba(56, 38, 38, 0.25);
        border-radius: 20px;
        padding: 18px 22px;
        margin: 6px;
    
      }
    
  }

@media (max-width: 600px) {
  .educacion-titulo {
    font-size: 26px;
  }
}
  