.experiencias {
  display: flex;
  flex-direction: column;
}
.experiencia-body {
  background-color: var(--color-primario);
  color: var(--color-texto-invertido);
}

.onda {
  width: 100%;
  position: relative;
  top: 2px;
}

.onda_boton {
  transform: scaleY(-1);
  top: -2px;
}

.experiencia-titulo {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin: 25px;
}

.experiencia-fecha {
  font-size: 25px;
  font-weight: bold;
  color: var(--color-secundario);
}

.experiencia-empresa {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
}

.experiencia-cargo {
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
}

.experiencia-descripcion {
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .experiencia-titulo {
    font-size: 26px;
    margin: 20px 0;
  }

  .experiencia-fecha {
    font-size: 20px;
  }

  .experiencia-empresa {
    font-size: 18px;
  }

  .experiencia-cargo {
    font-size: 16px;
  }

  .experiencia-descripcion {
    font-size: 14px;
  }
}

.experiencia {
  padding: 25px;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 950px) {
  .experiencia-titulo {
    font-size: 50px;
    margin: 35px 0;
  }

  .experiencia-fecha {
    font-size: 25px;
  }

  .experiencia-empresa {
    font-size: 25px;
  }

  .experiencia-cargo {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
  }

  .experiencia-descripcion {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.3;
  }
  .experiencia {
    padding: 0px;
    text-align: left;
    
  }

  .experiencia_left {
    text-align: right;
  }
.experiencia-grilla {
    display: grid;
    grid-template-columns: auto 2px auto;
    gap: 20px 70px;
    padding: 70px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.linea {
    background-color: var(--color-texto-invertido);
    position: relative;
}

.linea::before,
.linea::after {
    content:"";
    display: block;
    width: 20px;
    height:20px;
    background-color: var(--color-texto-invertido);
    border-radius: 50%;

    position: absolute;
    top: -20px;
    left: -9px;
}
.linea::after {
    top: 100%;
    z-index: 1;
}
}
