.habilidades {
    max-width: 1200px;
    margin: 0 auto;
}

.habilidades-titulo {
    font-size:30px;
    color: var(--color-primario);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px 0;
}

.habilidades-habilidades {
    font-size: 15px;
    color: var(--color-texto-invertido);
    font-weight: 500;
    background-color: var(--color-primario);
    box-shadow: 0 4px 10px rgba(56, 38, 38, 0.25);
    border-radius: 42px;
    padding: 0.55em 0.9em;
    margin: 8px;
}

.habilidades-lista {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

@media (min-width:950px) {
    .habilidades-titulo {
        font-size:50px;
        margin-bottom: 30px;
    }  

}

@media (max-width: 600px) {
    .habilidades-titulo {
        font-size: 26px;
    }
}