@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');

.perfil-info {
    margin-bottom: 20px;
}
.img-perfil {
    width:80%;
    max-width: 300px;
}

.perfil-img-seccion {
    position: relative;   
}

.perfil-img-linea {
    background-color: var(--color-secundario);
    height: 15px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.perfil {
    text-align: center;
}

.perfil-titulo {
    font-size: 30px;
    font-weight: 800 bold;
    margin: 0;
    color: var(--color-primario);
    font-family: 'Open Sans', sans-serif;
}

.perfil-detalles {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    max-width: 450px;
    margin: 20px auto;
}

.perfil-Btn {
    background-color: var(--color-primario);
    color: var(--color-texto-invertido);
    border: none;
    font-size: 20px;
    padding: 0.55em 1.2em;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.perfil-Btn:hover {
    filter: brightness(130%);
}

@media (min-width:950px) {
    .perfil-info {
        margin-bottom: 0px;
    }
    .img-perfil {
        width:100%;
        max-width: 350px;
    }
     
    .perfil {
        text-align: left;
        display: flex;
        justify-content: space-between;
        max-width: 980px;
        margin: 0 auto;
        align-items: center;  
    }
    
    .perfil-titulo {
        font-size: 50px;
    }
    
    .perfil-detalles {
        font-size: 20px;
        margin: 30px 0;
    }
    
    .perfil-Btn {
        font-size: 25px;
    }

}

@media (max-width: 600px) {
    .perfil-titulo {
        font-size: 26px;
    }

    .perfil-detalles {
        font-size: 15px;
    }

    .perfil-Btn {
        font-size: 18px;
    }
}