

.proy-sec {
    text-align: center;
    background-color: #333333;
    border-radius: 15px;
    color: white;
    padding-top: 1%;  
}

.Dashboards-BI{
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}

.segment-yolo{
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}


.tensor-grafana{
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}

.H1-T {
    text-align: center;
    color: #333333;
}

.H2-proy {
    margin: 0px 0px 50px 0px;
    color: var(--color-primario);
    color: white;
}

.ul-ME1 {
    text-align: justify;
    margin: 20px 0px 0px 20px;
    padding-bottom: 5%;
}

.ul-ME2 {
    text-align: justify;
    margin: 20px 0px 0px 20px;
    padding-bottom: 5%;
}

.tensor-grafana {
    text-indent: 5%;
    text-align: justify;
    margin: 50px 35px 0px 20px;

}

.segment-yolo {
    text-indent: 5%;
    text-align: justify;
    margin: 50px 35px 0px 20px;

}

.gesman-excel {
    text-indent: 5%;
    text-align: justify;
    margin: 50px 35px 0px 20px;
    padding-right: 5%;
    padding-left: 5%;

}

.gestock-excel {
    text-indent: 5%;
    text-align: center;
    margin: 50px 35px 0px 20px;
    padding-right: 5%;
    padding-left: 5%;

}

.update {
    font-size: small;
}


.con-marco {
    width: 320px; 
    height: 225px;
    border: 2px solid rgb(145, 125, 125);
}

.imgBI1 {
    width: 320px;
    height: 225px;
}

.imgIA1 {
    width: 320px;
    height: 225px;
}

.imgIA2 {
    width: 320px; 
    height: 225px;
    
}

.imgME1 {
    width: 320px; 
    height: 225px;
    
}

.contenedor-imgIA1 {
    position: relative;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1); /* Cambia los valores según tus preferencias */
    border-radius: 8px; /* Opcional: Agrega bordes redondeados */
    overflow: hidden; /* Evita que la sombra se extienda más allá del contenedor */
}


@media (min-width:950px) {
    .imgIA2 {
        width: 480px; 
        height: 285px;
        
    }

    .imgME1 {
        width: 480px; 
        height: 285px;
        
    }

    .con-marco {
        width: 480px; 
        height: 285px;
        border: 2px solid rgb(145, 125, 125);
    }

    .tensor-grafana {
        margin: 50px 200px 0px 200px;
    
    }

    .segment-yolo{
        margin: 50px 200px 0px 200px;
    
    }
    
    .gesman-excel {
        margin: 50px 200px 0px 200px;
    
    }
    
    .gestock-excel {
        margin: 50px 200px 0px 200px;
    
    }

    .ul-ME1 {
        margin: 20px 0px 0px 400px;
    }
    
    .ul-ME2 {
        margin: 20px 0px 0px 400px;
    }
    
  
}

.horizontal-padding vertical-padding{
    
    background-color: lightblue;
}

