

.proy-sec {
    text-align: center;
    background-color: #333333;
    border-radius: 15px;
    color: white;
    padding-top: 1%;  
}

.Dashboards-BI{
    text-indent: 5%;
    text-align: justify;
    margin: 50px 35px 0px 20px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}

.segment-yolo{
    text-indent: 5%;
    text-align: justify;
    margin: 50px 35px 0px 20px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}


.tensor-grafana{
    text-indent: 5%;
    text-align: justify;
    margin: 50px 35px 0px 20px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    
}

.gesman-excel {
    text-indent: 5%;
    text-align: justify;
    margin: 50px 35px 0px 20px;
    padding-right: 5%;
    padding-left: 5%;

}

.gestock-excel {
    text-indent: 5%;
    text-align: center;
    margin: 50px 35px 0px 20px;
    padding-right: 5%;
    padding-left: 5%;

}

.H1-T {
    text-align: center;
    color: #333333;
}

.H2-proy {
    margin: 0px 0px 50px 0px;
    color: var(--color-primario);
    color: white;
}


/* Estilo general para pantallas grandes */
.ul-ME1 {
    text-align: justify;
    margin: 20px 0px 0px 400px;
    list-style-type: disc;  /* Añade viñetas a la lista */
    /*font-size: 26px;  Tamaño de fuente para pantallas grandes */
    padding-bottom: 5%;
    
}

.ul-ME2 {
    text-align: justify;
    margin: 20px 0px 0px 400px;
    list-style-type: disc;  /* Añade viñetas a la lista */
    /*font-size: 26px;  Tamaño de fuente para pantallas grandes */
    padding-bottom: 5%;
}

.update {
    font-size: small;
}


.con-marco {
    width: 320px; 
    height: 225px;
    border: 2px solid rgb(145, 125, 125);
}

.imgBI1 {
    width: 320px;
    height: 225px;
}

.imgIA1 {
    width: 320px;
    height: 225px;
}

.imgIA2 {
    width: 320px; 
    height: 225px;
    
}

.imgME1 {
    width: 320px; 
    height: 225px;
    
}

.contenedor-imgIA1 {
    position: relative;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1); /* Cambia los valores según tus preferencias */
    border-radius: 8px; /* Opcional: Agrega bordes redondeados */
    overflow: hidden; /* Evita que la sombra se extienda más allá del contenedor */
}


/* Para pantallas más grandes */
@media (min-width: 950px) {
    .imgBI1, .imgIA1, .imgIA2, .imgME1, .imgME2, .con-marco {
        width: 480px;
        height: 285px;
    }

    .Dashboards-BI, .tensor-grafana, .segment-yolo, .gesman-excel, .gestock-excel {
        margin: 50px 200px 0 200px;
    }

    .ul-ME1, .ul-ME2 {
        margin: 20px 0 0 400px;
    }
}

/* Para pantallas medianas */
@media (max-width: 949px) and (min-width: 601px) {
    .imgBI1, .imgIA1, .imgIA2, .imgME1, .imgME2, .con-marco {
        width: 350px;
        height: 200px;
    }

    .Dashboards-BI, .tensor-grafana, .segment-yolo, .gesman-excel, .gestock-excel {
        margin: 40px 100px 0 100px;
    }

    .ul-ME1, .ul-ME2 {
        margin: 15px 0 0 200px;
    }
}

/* Para pantallas pequeñas */
@media (max-width: 600px) {
    .imgBI1, .imgIA1, .imgIA2, .imgME1, .imgME2, .con-marco {
        width: 100%;
        height: auto;
    }

    .Dashboards-BI, .tensor-grafana, .segment-yolo, .gesman-excel, .gestock-excel {
        margin: 20px 20px 0 20px;
    }

    .ul-ME1, .ul-ME2 {
        margin: 10px 0 0 0;
    }
}

/* Ajustes para pantallas medianas */
@media (max-width: 949px) and (min-width: 601px) {
    .ul-ME1, .ul-ME2 {
        margin: 15px 0px 0px 200px; /* Reduce el margen a la izquierda */
        /*font-size: 14px; /* Reduce un poco el tamaño de fuente */
        padding-bottom: 5%;
    }
}


/* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
    .ul-ME1, .ul-ME2 {
        margin: 10px 20px;  /* Aplica un margen más pequeño alrededor */
        padding: 0;  /* Elimina el padding adicional si es necesario */
        /*font-size: 12px; /* Reduce el tamaño de la fuente para pantallas más pequeñas */
        list-style-position: inside;  /* Mueve las viñetas dentro del cuadro de la lista */
        padding-bottom: 5%;
    }
}

.horizontal-padding vertical-padding{
    
    background-color: lightblue;
}

